.profile-dropdown {
  position: relative;
  display: inline-block;
}

.profile-dropdown img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
  margin-right: 10px;
  cursor: pointer;
}

.profile-dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.profile-dropdown:hover .profile-dropdown-content {
  display: block;
}

.profile-dropdown-content a {
  display: block;
  padding: 5px 0;
  color: #333;
  text-decoration: none;
}

.profile-dropdown a:hover {
  color: #0077cc;
}
