.about-us {
  background-color: #f8f8f8;
  padding: 50px 30px;

  .company-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;

    .company-image {
      width: 45%;
      margin-right: 5%;

      img {
        max-width: 100%;
        height: auto;
      }
    }

    .company-details {
      width: 50%;

      h2 {
        font-size: 36px;
        font-weight: bold;
        margin-bottom: 20px;
      }

      p {
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 20px;
      }
    }
  }

  .why-us-section {
    h2 {
      font-size: 32px;
      font-weight: bold;
      text-align: center;
      margin-bottom: 50px;
      text-transform: uppercase;
      letter-spacing: 2px;
    }

    .why-us-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;

      .why-us-item {
        width: 30%;
        margin-bottom: 30px;

        h3 {
          font-size: 24px;
          font-weight: bold;
          margin-bottom: 10px;
        }

        p {
          font-size: 16px;
          line-height: 1.5;
        }
      }
    }
  }

  .testimonials-section {
    text-align: center;

    h2 {
      font-size: 32px;
      font-weight: bold;
      margin-bottom: 50px;
      text-transform: uppercase;
      letter-spacing: 2px;
    }

    .testimonials-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;

      .testimonial-item {
        width: 30%;
        margin-bottom: 30px;
        background-color: #55647a;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);

        p {
          font-size: 16px;
          line-height: 1.5;
          color: #f8f8f8;
        }

        .testimonial-author {
          font-size: 14px;
          font-style: italic;
          color: #f8f8f8;
          margin-top: 10px;
        }
      }
    }
  }
}
